
@import "tailwindcss";

@import 'swiper/css';
@import 'swiper/css/navigation';

@import 'bootstrap-icons/font/bootstrap-icons.css';
@import 'remixicon/fonts/remixicon.css';
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
    --primary-color: #4d8be9 !important;
    --secondary-color: #071108 !important;
    --primary-light-1: #0077ff10;
    --primary-light-2: #0077ff10; 
    --hero-image-from: #74b9ff1a;  
    --hero-image-to: #1f8eff0c;    
    --black-color: #000;
    --white-color: #fff;
    --text-color: #32455e;

    --transition-regular: 0.3s;
    --transition-slow: 0.6s;
    --radius: 0.625rem;
    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: oklch(0.205 0 0);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.708 0 0);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);
}

/* Font Family */

@layer utilities {
    .font-sora {
        font-family: var(--font-sora), sans-serif;
    }

    .font-unbounded {
        font-family: var(--font-unbounded), cursive;
    }
}

body {
    background: var(--secondary-color);
    color: var(--white-color);
    overflow: inherit !important;
}

.custom-shadow {
  box-shadow: 0px 2px 5px var(--primary-color);
}

/* Navbar */

.active-links {
    color: var(--primary-color);
}

.active-links:after, .nav-menu a:after, .menu li a:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--primary-color);
    transition: var(--transition-regular);
}

.nav-menu a:after, .menu li a:after {
    opacity: 0;
}

.nav-menu a:hover:after, .menu li a:hover:after {
    opacity: 1;
}

.menu li a {
    padding-bottom: 10px;
}

.active-links:after {
    opacity: 1 !important;
}

/* Header */

.hero-image:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(255, 255, 255, 0) 48%, rgba(0,0,0,0.1) 100%);
}

.hero-social i {
    width: 50px;
    height: 50px;
    border: 1px solid var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    cursor: pointer;
    transition: var(--transition-regular);
}

.hero-social i:hover {
    background-color: var(--primary-color);
    color: var(--white-color);
    transform: translateY(-10px);
}

/* Services */

.stroke-text {
    -webkit-text-stroke: 1px var(--white-color);
    color: transparent;
    transition: var(--transition-regular);
}

.service-card:hover .stroke-text {
    -webkit-text-stroke: 1px var(--primary-color);
}

/* Custom Scrollbar */

.custom-scrollbar::-webkit-scrollbar {
    width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 4px;
    border: 2px solid transparent;
    background-clip: content-box;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: var(--primary-color);
}

/* Work */

@keyframes Anim-bottom {
    0% {
        transform: translateY(-50%);
        opacity: 0;
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

.work-content h2 {
    opacity: 0;
    animation:Anim-bottom var(--transition-regular) 1.4s forwards linear;
}

.work-content h3 {
    opacity: 0;
    animation:Anim-bottom var(--transition-regular) 1.2s forwards linear;
}

.work-content p {
    opacity: 0;
    animation:Anim-bottom var(--transition-regular) 1s forwards linear;
}

.work-icons {
    opacity: 0;
    animation:Anim-bottom var(--transition-regular) 0.8s forwards linear;
}

.work-share {
    opacity: 0;
    animation:Anim-bottom var(--transition-regular) 0.6s forwards linear;
}

.work-image {
    opacity: 0;
    animation:Anim-bottom var(--transition-regular) 0.3s forwards linear;
}





/* Img Size Fixing */
.project-img {
    width: 650 !important;
    height: 300 !important;
}

/* Media Queries Mobile menu */

@media (max-width: 991px) {
    body {
        overflow-x: hidden !important;
        overflow-y: scroll !important;
    }
}

@media (max-width: 640px) {
  body {
    padding: 0;
    margin: 0;
  }
}

/* toast add */

@theme inline {
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
}

.dark {
    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.205 0 0);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.205 0 0);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.922 0 0);
    --primary-foreground: oklch(0.205 0 0);
    --secondary: oklch(0.269 0 0);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);
    --accent: oklch(0.269 0 0);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.556 0 0);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
    }
  body {
    @apply bg-background text-foreground;
    }
}
