
@import "tailwindcss";

@import 'swiper/css';
@import 'swiper/css/navigation';

@import 'bootstrap-icons/font/bootstrap-icons.css';
@import 'remixicon/fonts/remixicon.css';

:root {
    --primary-color: #4d8be9 !important;
    --secondary-color: #071108 !important;
    --primary-light-1: #0077ff10;
    --primary-light-2: #0077ff10; 
    --hero-image-from: #74b9ff1a;  
    --hero-image-to: #1f8eff0c;    
    --black-color: #000;
    --white-color: #fff;
    --text-color: #32455e;

    --transition-regular: 0.3s;
    --transition-slow: 0.6s;
}

/* Font Family */

@layer utilities {
    .font-sora {
        font-family: var(--font-sora), sans-serif;
    }

    .font-unbounded {
        font-family: var(--font-unbounded), cursive;
    }
}

body {
    background: var(--secondary-color);
    color: var(--white-color);
    overflow: inherit !important;
}

.custom-shadow {
  box-shadow: 0px 2px 5px var(--primary-color);
}

/* Navbar */

.active-links {
    color: var(--primary-color);
}

.active-links:after, .nav-menu a:after, .menu li a:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--primary-color);
    transition: var(--transition-regular);
}

.nav-menu a:after, .menu li a:after {
    opacity: 0;
}

.nav-menu a:hover:after, .menu li a:hover:after {
    opacity: 1;
}

.menu li a {
    padding-bottom: 10px;
}

.active-links:after {
    opacity: 1 !important;
}

/* Header */

.hero-image:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(255, 255, 255, 0) 48%, rgba(0,0,0,0.1) 100%);
}

.hero-social i {
    width: 50px;
    height: 50px;
    border: 1px solid var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    cursor: pointer;
    transition: var(--transition-regular);
}

.hero-social i:hover {
    background-color: var(--primary-color);
    color: var(--white-color);
    transform: translateY(-10px);
}





/* Media Queries Mobile menu */

@media (max-width: 991px) {
    body {
        /* overflow-x: hidden !important; */
        overflow-y: scroll !important;
    }
}
